// =============================================================================
// TEMPLATE CUSTOM STYLES.
// This file sets the configuration for design editor tool.
//
// This file will be converted to CSS, copied under "/components" and renamed to
// "*.tpl".
//
// The output component can be included in any "layout" or "component".
// =============================================================================

// =============================================================================
// Modules
// =============================================================================
@import '../../stylesheets/variables';

// =============================================================================
// Default stylesheet override styles.
// =============================================================================


// Main styles
body {
  background-color: var(--color-bg);
  font-family: var(--font-two);
}

.post-header,
.tags,
.post-page .tags,
.comments,
.comment-form input,
.comment-form textarea,
.footer,
.voog-reference,
.content-formatted form,
.content-formatted .form,
.content-formatted form input,
.content-formatted form textarea,
.front-page .content-body,
.common-page .content-header,
.header,
.menu,
.lang-menu-toggle,
.search .search-input,
.voog-search-result,
.sidebar,
.sidebar-left .content-formatted h1
 {
  font-family: var(--font-one);
}

@media screen and (max-width: 640px) {
  .topbar {
    font-family: var(--font-one);
  }
}


.container,
.header .header-inner {
  max-width: var(--site-width);
}

// Header - Site title
.header {
  .header-inner {
    .header-title {
      &, 
      & a,
      & a:hover {
        color: var(--header-site-title-color);
        font-size: var(--header-site-title-font-size);
        font-style: var(--header-site-title-font-style);
        font-weight: var(--header-site-title-font-weight);
        line-height: var(--header-site-title-line-height);
        text-decoration: var(--header-site-title-text-decoration);
        text-transform: var(--header-site-title-text-transform);
      }
    }
  }
}

// Header - Main menu
.main-menu {
  li a {
    color: var(--header-mainmenu-color);
    font-size: var(--header-mainmenu-font-size);
    font-style: var(--header-mainmenu-font-style);
    font-weight: var(--header-mainmenu-font-weight);
    line-height: var(--header-mainmenu-line-height);
    text-decoration: var(--header-mainmenu-text-decoration);
    text-transform: var(--header-mainmenu-text-transform);
  }

  li,
  li.active {
    a:hover {
      color: var(--header-mainmenu-hover-color);
      font-style: var(--header-mainmenu-hover-font-style);
      font-weight: var(--header-mainmenu-hover-font-weight);
      text-decoration: var(--header-mainmenu-hover-text-decoration);
      text-transform: var(--header-mainmenu-hover-text-transform);
    }
  }

  li.active {
    a {
      color: var(--header-mainmenu-active-color);
      font-style: var(--header-mainmenu-active-font-style);
      font-weight: var(--header-mainmenu-active-font-weight);
      text-decoration: var(--header-mainmenu-active-text-decoration);
      text-transform: var(--header-mainmenu-active-text-transform);
    }
  }
}

// Content - Sub-menu

.sub-menu {
  li a {
    color: var(--content-submenu-color);
    font-size: var(--content-submenu-font-size);
    font-style: var(--content-submenu-font-style);
    font-weight: var(--content-submenu-font-weight);
    line-height: var(--content-submenu-line-height);
    text-decoration: var(--content-submenu-text-decoration);
    text-transform: var(--content-submenu-text-transform);
  }

  li,
  li.active {
    a:hover {
      color: var(--content-submenu-hover-color);
      font-style: var(--content-submenu-hover-font-style);
      font-weight: var(--content-submenu-hover-font-weight);
      line-height: var(--content-submenu-line-height);
      text-decoration: var(--content-submenu-hover-text-decoration);
      text-transform: var(--content-submenu-hover-text-transform);
    }
  }

  li.active {
    a {
      color: var(--content-submenu-active-color);
      font-style: var(--content-submenu-active-font-style);
      font-weight: var(--content-submenu-active-font-weight);
      line-height: var(--content-submenu-line-height);
      text-decoration: var(--content-submenu-active-text-decoration);
      text-transform: var(--content-submenu-active-text-transform);

      &:hover {
        text-transform: var(--content-submenu-active-text-transform);
      }
    }
  } 
}

// Content - Text
.content-formatted {
  font-size: var(--content-font-size);
  line-height: var(--content-line-height);
  color: var(--content-color);

  a {
    color: var(--content-links-color);

    &:hover {
      color: var(--content-links-hover-color);
    }
  }
}

// Content - Footer
.footer {
  color: var(--footer-color);
  font-size: var(--footer-font-size);
  font-style: var(--footer-font-style);
  font-weight: var(--footer-font-weight);
  line-height: var(--footer-line-height);
  text-align: var(--footer-alignment);
  text-decoration: var(--footer-text-decoration);
  text-transform: var(--footer-text-transform);
}

// Headings
.content-formatted {
  h1 {
    color: var(--h1-color);

    &,
    a,
    a:hover {
      font-family: var(--h1-font-family);
      font-size: var(--h1-font-size);
      font-style: var(--h1-font-style);
      font-weight: var(--h1-font-weight);
      line-height: var(--h1-line-height);
      text-align: var(--h1-alignment);
      text-decoration: var(--h1-text-decoration);
      text-transform: var(--h1-text-transform);
    }
  }

  h2 {
    color: var(--h2-color);

    &,
    & a,
    & a:hover {
      font-family: var(--h2-font-family);
      font-size: var(--h2-font-size);
      font-style: var(--h2-font-style);
      font-weight: var(--h2-font-weight);
      line-height: var(--h2-line-height);
      text-align: var(--h2-alignment);
      text-decoration: var(--h2-text-decoration);
      text-transform: var(--h2-text-transform);
    }
  }

  h3 {
    color: var(--h3-color);

    &,
    a,
    a:hover {
      font-family: var(--h3-font-family);
      font-size: var(--h3-font-size);
      font-style: var(--h3-font-style);
      font-weight: var(--h3-font-weight);
      line-height: var(--h3-line-height);
      text-align: var(--h3-alignment);
      text-decoration: var(--h3-text-decoration);
      text-transform: var(--h3-text-transform);
    }
  }
}
