// =============================================================================
// TEMPLATE CUSTOM STYLES.
// This file sets the configuration for design editor tool.
//
// This file will be converted to CSS, copied under "/components" and renamed to
// "*.tpl".
//
// The output component can be included in any "layout" or "component".
// =============================================================================

// =============================================================================
// Modules
// =============================================================================
@import '../../stylesheets/variables';

// =============================================================================
// Design editor configuration.
// =============================================================================
:root {
    // scss-lint:disable Comment, Indentation

/* VoogStyle
    "pathI18n": ["focus_area", "text"],
    "titleI18n": "size",
    "editor": "rangePicker",
    "min": 8,
    "max": 80,
    "unit": "px",
    "scope": "global",
    "featured": true
  */
  --focus-area-title-font-size: $h2-size;

  /* VoogStyle
     "pathI18n": ["focus_area", "text"],
     "titleI18n": "line_height",
     "editor": "rangePicker",
     "min": 0.8,
     "max": 3,
     "step": 0.1,
     "unit": "em",
     "scope": "global"
  */
  --focus-area-title-line-height: 1.5em;

  /* VoogStyle
    "pathI18n": ["focus_area", "text"],
    "titleI18n": "font_weight",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "600",
      "off": "400"
    },
    "icon": "bold",
    "scope": "global"
  */
  --focus-area-title-font-weight: 400;

  /* VoogStyle
    "pathI18n": ["focus_area", "text"],
    "titleI18n": "font_style",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "italic",
      "off": "normal"
    },
    "icon": "italic",
    "scope": "global"
  */
  --focus-area-title-font-style: normal;

  /* VoogStyle
    "pathI18n": ["focus_area", "text"],
    "titleI18n": "text_decoration",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "underline",
      "off": "none"
    },
    "icon": "underline",
    "scope": "global"
  */
  --focus-area-title-text-decoration: none;

  /* VoogStyle
    "pathI18n": ["focus_area", "text"],
    "titleI18n": "text_transform",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "uppercase",
      "off": "none"
    },
    "icon": "uppercase",
    "scope": "global"
  */
  --focus-area-title-text-transform: none;

  /* VoogStyle
    "pathI18n": ["focus_area", "text"],
    "titleI18n": "color",
    "type": "button",
    "editor": "colorPicker",
    "scope": "global",
    "featured": true
  */
  --focus-area-title-color: rgba($color-black, .5);

  /* VoogStyle
    "pathI18n": ["focus_area", "link", "normal"],
    "titleI18n": "font_weight",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "600",
      "off": "400"
    },
    "icon": "bold",
    "scope": "global",
    "boundVariables": [
      "--focus-area-links-hover-font-weight"
    ]
  */
  --focus-area-links-font-weight: 400;

  /* VoogStyle
    "pathI18n": ["focus_area", "link", "hover"],
    "titleI18n": "font_weight",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "600",
      "off": "400"
    },
    "icon": "bold",
    "scope": "global"
  */
  --focus-area-links-hover-font-weight: 400;

  /* VoogStyle
    "pathI18n": ["focus_area", "link", "normal"],
    "titleI18n": "font_style",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "italic",
      "off": "normal"
    },
    "icon": "italic",
    "scope": "global",
    "boundVariables": [
      "--focus-area-links-hover-font-style"
    ]
  */
  --focus-area-links-font-style: normal;

  /* VoogStyle
    "pathI18n": ["focus_area", "link", "hover"],
    "titleI18n": "font_style",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "italic",
      "off": "normal"
    },
    "icon": "italic",
    "scope": "global"
  */
  --focus-area-links-hover-font-style: normal;

  /* VoogStyle
    "pathI18n": ["focus_area", "link", "normal"],
    "titleI18n": "text_decoration",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "underline",
      "off": "none"
    },
    "icon": "underline",
    "scope": "global",
    "boundVariables": [
      "--focus-area-links-hover-text-decoration"
    ]
  */
  --focus-area-links-text-decoration: none;

  /* VoogStyle
    "pathI18n": ["focus_area", "link", "hover"],
    "titleI18n": "text_decoration",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "underline",
      "off": "none"
    },
    "icon": "underline",
    "scope": "global"
  */
  --focus-area-links-hover-text-decoration: none;

  /* VoogStyle
    "pathI18n": ["focus_area", "link", "normal"],
    "titleI18n": "text_transform",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "uppercase",
      "off": "none"
    },
    "icon": "uppercase",
    "scope": "global",
    "boundVariables": [
      "--focus-area-links-hover-text-transform"
    ]
  */
  --focus-area-links-text-transform: none;

  /* VoogStyle
    "pathI18n": ["focus_area", "link", "hover"],
    "titleI18n": "text_transform",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "uppercase",
      "off": "none"
    },
    "icon": "uppercase",
    "scope": "global"
  */
  --focus-area-links-hover-text-transform: none;

  /* VoogStyle
    "pathI18n": ["focus_area", "link", "normal"],
    "titleI18n": "color",
    "type": "button",
    "editor": "colorPicker",
    "scope": "global",
    "featured": true
  */
  --focus-area-links-color: rgba($color-black, .8);

   /* VoogStyle
    "pathI18n": ["focus_area", "link", "hover"],
    "titleI18n": "color",
    "type": "button",
    "editor": "colorPicker",
    "scope": "global",
    "featured": true
  */
  --focus-area-links-hover-color: rgba($color-black, .5);

  // scss-lint:enable Comment, Indentation
}
