// MENUS
.menu {
  position: relative;
  z-index: 2;
  padding: 0;
  margin: 0;
  font-family: $font-one;
  list-style: none;

  li {
    a {
      font-size: 12px;
      color: rgba($color-black,.5);
      text-decoration: none;

      &:hover {
        color: rgba($color-black,.8);
        // @include filter(grayscale(50%));

        &:before {
          background-color: transparent;
        }
      }
    }
  }

  li.active {
    a {
      color: rgba($color-black,.8);
      // @include filter(grayscale(100%));

      &:hover {
        color: rgba($color-black,.85);
      }
    }
  }
}

.main-menu {
  li {
    display: inline-block;
    margin-right: 5px;
    line-height: 1;

    a {
      @include hyphenate(true);
      text-transform: uppercase;

      &.untranslated {
        color: $color-error;
      }
    }
  }

  .editmode-button {
    margin-left: 10px;

    @include query($mobile) {
      margin-top: 7px;
      margin-left: 0;
      margin-bottom: 7px;

      &:last-child {
        margin-top: 18px;
      }

      a {
        padding: 10px 15px!important;
        background-color: rgba(0, 0, 0, .3) !important;
        vertical-align: middle !important;
      }
    }
  }
}

.sub-menu {
  li {
    padding-bottom: 7px;
    line-height: .85;

    &:last-child {
      padding-bottom: 0;
    }

    &.active {
      font-weight: 600;
      text-transform: uppercase;
    }

    a {
      @include hyphenate(true);
      font-size: 16px;
      font-weight: 300;
      color: $color-three;

      &.untranslated {
        color: $color-error;
      }
    }

    &.editmode-button {
      @include query($tablet) {
        margin-right: 5px;
      }
    }
  }
}

.mobile-menu {
  position: relative;
  z-index: 4;
  display: none;
}

.lang-menu-toggle {
  position: relative;
  display: inline-block;
  height: 25px;
  padding: 0;
  margin-left: 10px;
  font-family: $font-one;
  font-size: 12px;
  vertical-align: top;
  cursor: pointer;
  background: none;
  border: 0;
  outline: none;

  .flags-disabled & {
    .ico-popover-toggle {
      position: relative;
      top: -1px;
      display: inline-block;
      font-size: 7.2px;
    }
  }

  .flags-enabled & {
    width: 31px;

    .lang-title,
    .ico-popover-toggle {
      display: none;
    }
  }

  .editmode & {
    &.open {
      margin-right: 90px;
    }
  }
}

.lang-menu-toggle,
.lang-menu li a.lang-flag {
  &:before,
  &:after {
    position: absolute;
    top: 5px;
    left: 5px;
    display: block;
    width: 21px;
    height: 15px;

    .flags-disabled & {
      display: none;
    }
  }

  &:before {
    @include bg(#000);
    content: '';
  }

  &:after {
    background-repeat: no-repeat;
    opacity: .95;

    .no-svg & {
      background-image: url('../images/ico-flags.png');
    }

    .svg & {
      background-image: url('../assets/ico-flags.svg');
    }
  }
}

.lang-menu-popover {
  display: none;

  &.expanded {
    position: absolute;
    top: 25px;
    left: 10px;
    z-index: 10;
    display: block;
    min-width: 138px;
    padding: 0;
    margin-bottom: 60px;
    font-size: 12px;
    background: $color-white;
    -webkit-border: 1px solid #e1e1e1;
    border: 1px solid #e1e1e1;

    .flags-disabled & {
      min-width: 121px;
    }
  }
}

.lang-menu {
  position: relative;
  display: table-cell;
  height: 13px;
  line-height: 1.1;
  vertical-align: top;

  &.flags-disabled {
    .lang-flag {
      padding-left: 4px;

      &:before,
      &:after {
        display: none;
      }
    }
  }

  li {
    a {
      position: relative;
      display: block;
      padding: 6px 4px 4px 30px;
      color: $color-three;
      text-transform: uppercase;
    }

    .edy-menu-langadd {
      padding-left: 10px;
    }
  }

  li.active {
    a,
    a:hover {
      color: $color-two;
    }
  }

  .add-lang-btn {
    margin-top: 10px;
    margin-left: 12px;
  }
}

.lang-flag {
  &:after {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 9px;
    line-height: 1;
    color: $color-two;
    text-align: center;
    text-transform: uppercase;
    background-position: 0 -75px;
    content: attr(data-lang-code);
    box-sizing: border-box;
  }
}

// Language flag icons positioning in the spritemap.
$flags:
  (sq, 0 0), // Albanian (Albania)
  (hy, -21px 0), // Armenian (Armenia)
  (bn, -42px 0), // Bengali (Bangladesh)
  // (pt, -63px 0), // Brazilian Portuguese (Brazil)
  (bg, -84px 0), // Bulgarian (Bulgaria)
  (zh, -105px 0), // Chinese (China)
  (hr, -126px 0), // Croatian (Croatia)
  (da, -147px 0), // Danish (Denmark)
  (cs, -168px 0), // Czech (Czech Republic)
  (et, -189px 0), // Estonian (Estonia)

  (fi, 0 -15px), // Finnish (Finland)
  (fr, -21px -15px), // French (France)
  (ka, -42px -15px), // Georgian (Georgia)
  (de, -63px -15px), // German (Germany)
  (el, -84px -15px), // Greek (Greece)
  (hu, -105px -15px), // Hungarian (Hungary)
  (is, -126px -15px), // Icelandic (Iceland)
  (hi, -147px -15px), // Hindi (India)
  (id, -168px -15px), // Indonesian (Indonesia)
  (fa, -189px -15px), // Iranian (Iran)

  (he, 0 -30px), // Hebrew (Israel)
  (it, -21px -30px), // Italian (Italy)
  (ja, -42px -30px), // Japanese (Japan)
  (ko, -63px -30px), // Korean (Korea, South)
  (lv, -84px -30px), // Latvian (Latvia)
  (lt, -105px -30px), // Lithuanian (Lithuania)
  (ms, -126px -30px), // Malaysian (Malaysia)
  (nl, -147px -30px), // Dutch (Netherlands)
  (no, -168px -30px), // Norwegian (Norway)
  (ur, -189px -30px), // Urdu (Pakistan)

  (fil, 0 -45px), // Filipino (Philippines)
  (pl, -21px -45px), // Polish (Poland)
  (ro, -42px -45px), // Romanian (Romania)
  (ru, -63px -45px), // Russian (Russia)
  (ar, -84px -45px), // Arabic (Saudi Arabia)
  (sk, -105px -45px), // Slovakian (Slovakia)
  (sl, -126px -45px), // Slovenian (Slovenia)
  (es, -147px -45px), // Spanish (Spain)
  (sv, -168px -45px), // Swedish (Sweden)
  (tr, -189px -45px), // Turkish (Turkey)

  (uk, 0 -60px), // Ukrainian (Ukraine)
  (en, -21px -60px), // American English (United States of America)
  // (fr, -42px -60px), // French (Ivory Coast)
  // (en, -63px -60px), // British English (Great Britian)
  (pt, -84px -60px), // Portuguese (Portuguese Republic)
  // (en, -105px -60px), // Canadian English (Canada)
  (sr, -126px -60px), // Serbian (Republic of Serbia)
  (bn, -147px -60px), // Dutch, French, German (Kingdom of Belgium)
  // (en, -168px -60px), // Australian English (Commonwealth of Australia)
  (th, -189px -60px) // Thai (Thailand)
;

@each $flag, $pos in $flags {
  .lang-flag-#{$flag}:after {
    background-position: $pos;
    content: '';
  }
}

.lang-options {
  @include bg(#000, .09);

  .menu {
    .menu-item {
      padding: 7px 12px;
      margin-top: 8px;
      font-size: 13px;
    }
  }

  @include query($mobile) {
    display: none;
  }
}

.option-btn {
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  background: none;
  border: 0;
  @include color(#06b);

  &:hover {
    @include color(#06b, .8);
  }

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  &:focus {
    outline: none;
  }

  .flags-disabled & {
    .disable-text {
      display: none;
    }
  }

  .flags-enabled & {
    .enable-text {
      display: none;
    }
  }

  .disable-text,
  .enable-text {
    &:first-letter {
      text-transform: capitalize;
    }
  }
}

@include query($mobile) {
  // MOBILE MENU
  .mobile-menu-toggler,
  #mobile-menu,
  #mobile-search {
    display: none;
  }

  // MENUS
  .main-menu {
    text-align: right;

    .menu li {
      margin-right: 0;
    }

    li {
      display: block;

      a {
        display: inline-block;
        padding: 8px 10px 7px;
        font-size: 18px;
        color: #d7d7d7;
        vertical-align: top;
        background: #838383;
      }
    }

    li,
    li.active {
      a:hover {
        color: #fafafa;
      }
    }

    li.active a {
      font-weight: 400;
      color: $color-white;
    }
  }

  .lang-menu {
    z-index: 12;
    display: none;
    padding-left: 0;

    &.flags-enabled {
      li a {
        font-size: 0;
      }
    }

    .menu {
      position: relative;
      right: 0;
      display: inline-block;
      float: right;
      width: auto;
      height: auto;
      padding: 0;
    }

    li,
    li.active {
      a,
      a:hover {
        background-color: #838383;
        @include color($color-white, .5);
        opacity: 1;
      }
    }

    li {
      float: right;

      a {
        width: 21px;
        height: 15px;
        padding: 13px 8px 12px;
        opacity: .95;
        @include color($color-white);

        &.lang-flag {
          &:before,
          &:after {
            top: 13px;
            left: 8px;
          }
        }
      }
    }

    li.active {
      a.lang-flag,
      a.lang-flag:hover {
        text-decoration: none;
        background-color: #5e5e5e;
      }
    }

    li,
    li.active {
      a:hover {
        top: 0;
        left: 0;
        margin: 0;
        background: #5e5e5e;
      }
    }

    .add-lang-btn {
      top: 0;
      left: 0;
      padding: 7px 15px 11px;
      margin: 0;
      background-color: #838383;
      opacity: .95;

      a {
        width: auto;
        height: auto;
        padding: 0;
        margin: 0;
        text-indent: 0;

        &:hover {
          background: inherit;
        }
      }
    }
  }
}
