.public {
  .edy-ecommerce-shopping-cart-button {
    top: 48px;
    z-index: 10;
    display: inline-block;
    padding: .33em .75em;
    margin-bottom: 20px;
    font-family: $font-one;
    font-size: 16px;
    line-height: 1.7em;
    color: $color-three;
    cursor: pointer;
    background: rgba($color-grey, 1);
    border: 0;

    @include query($mobile) {
      top: 40px;
      right: 0;
    }

    @include querymin($mobile) {
      top: 48px;
      right: 20px;
    }

    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }


    &:hover {
      opacity: .75;
    }

    .edy-ecommerce-shopping-cart-button-flash {
      line-height: 2.2;
    }
  }
}
